body {
    background-color: lightgray;
}

h1 {
    font-family: Arial;
    color: gray;
}

div#GameBoard table {
	border: thin solid black;
    background-color: lightgray;
    margin: auto;
}

div#GameBoard td {
	border: thin solid gray;
    width: 54px;
    height: 55px;
    background-color: green;
}